<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>with_corona_guide</title>
    <link rel="stylesheet" href="{% static 'home/css/intro.css' %}" type="text/css">
    <script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pzbd3jnaoi&amp;submodules=panorama,geocoder,drawing,visualization"></script>
</head>
<body>
<div id="menu-bar">
    <h1>WITH CORONA GUIDE</h1>
</div>
<div id="wrap" class="section">
    <div id="map" style="width:80%;height:600px;"></div>
    <code id="snippet" class="snippet"></code>
    </div>
<script type="text/javascript">

$(function() {

	initMap();

});


function initMap() {

	var areaArr = new Array();  // 안심식당 상호명, 위치를 담는 배열
	areaArr.push(
        {loc : '원할머니보쌈족발본점' , addr : '서울특별시 중구 난계로 201' , lat : '37.5696506' , lng : '127.0231752'},
        {loc : 'BHC치킨충무로역점' , addr : '서울특별시 중구 퇴계로 210' , lat : '37.5612419' , lng : '126.9950687'},
        {loc : '동대문엽기떡볶이 동대문직영점' , addr : '서울특별시 중구 장충단로 249-10' , lat : '37.5672901' , lng : '127.0077594'},
        {loc : '현가츠' , addr : '서울특별시 중구 명동8나길 45' , lat : '37.5610751' , lng : '126.982401'},
        {loc : '원할머니보쌈족발본점' , addr : '서울특별시 중구 남대문로7길 23' , lat : '37.5638946' , lng : '126.9806026'}
    );



	let markers = new Array(); // 마커 정보를 담는 배열
	let infoWindows = new Array(); // 정보창을 담는 배열

	var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5579452, 126.9941904), //지도 시작 지점(서울특별시 중구)
        zoom: 15
    });




	for (var i = 0; i < areaArr.length; i++) {

	    var marker = new naver.maps.Marker({
	        map: map,
	        title: areaArr[i].loc, // 안심식당 상호명
	        position: new naver.maps.LatLng(areaArr[i].lat , areaArr[i].lng) // 안심식당 위치
	    });

	    /* 정보창 */
		 var infoWindow = new naver.maps.InfoWindow({
		     content: '<div style="width:200px;text-align:center;padding:10px;"><b>' + areaArr[i].loc + '</b><br>' + areaArr[i].addr + '</div>'
		 }); // 클릭했을 때 띄워줄 정보 HTML 작성

		 markers.push(marker); // 생성한 마커를 배열에 담는다.
		 infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
	}


    function getClickHandler(seq) {

            return function(e) {  // 마커를 클릭하는 부분
                var marker = markers[seq], // 클릭한 마커의 시퀀스로 찾는다.
                    infoWindow = infoWindows[seq]; // 클릭한 마커의 시퀀스로 찾는다

                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker); // 표출
                }
    		}
    	}

    for (var i=0, ii=markers.length; i<ii; i++) {
    	console.log(markers[i] , getClickHandler(i));
        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i)); // 클릭한 마커 핸들러
    }
}

</script>

<div id="side-bar">
    <p>side bar</p>
</div>
</body>
</html>