<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>with_corona_guide</title>
    <link rel="stylesheet" href="{% static 'home/css/intro.css' %}" type="text/css">
</head>
<body>
<div id="menu-bar">
    <h1><a id="logo" href="/">WITH CORONA GUIDE</a></h1>
    <h4><a id="link1" href="/stepbystepRecovery" class="link_text">단계적 일상 회복</a></h4>
    <h4><a id="link2" href="/overseasTripInfo" class="link_text">해외 여행 정보</a></h4>
</div>
<div id="content">
    <image id="world-map" src="{% static 'home/images/world-map.png' %}" alt="world-map"></image>
</div>
<div id="detail">
    <h1>입국 가능 국가</h1>
    <p>2021.11.11 기준</p><br>
    <h3>✔ 리히텐슈타인</h3>
    <h3>✔ 스페인</h3>
    <h3>✔ 벨기에</h3>
    <h3>✔ 에스토니아</h3>
</div>
</body>
</html>